.App {
    min-height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.search-form {
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button {
    background: lightcoral;
    border: none;
    color: white;
    padding: 10px 20px;
}

.recipies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}